---
import { Icon } from 'astro-icon/components';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
}

const {
  label = 'Temayı Değiştir',
  class:
    className = 'text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center',
  iconClass = 'w-6 h-6',
  iconName = 'tabler:sun',
} = Astro.props;
---

<button id="theme-toggle-btn" type="button" class={className} aria-label={label}>
  <Icon name={iconName} class={iconClass} />
</button>

<script is:inline>

  const themeToggleButton = document.getElementById('theme-toggle-btn');

  const applyTheme = (theme) => {
    // 1. Remove all old theme classes
    themes.forEach((t) => {
      document.documentElement.classList.remove(t);
    });

    // 2. Add the new theme class (if it's not a base theme like 'light')
    if (theme !== 'light' && theme !== 'dark') {
      document.documentElement.classList.add(theme);
    }

    // 3. Add or remove .dark class for text color, based on the theme
    if (darkThemeNames.includes(theme)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }

    // 4. Save the preference
    localStorage.setItem('theme', theme);
  };

  const getNextTheme = (currentTheme) => {
    const currentIndex = themes.indexOf(currentTheme);
    const nextIndex = (currentIndex + 1) % themes.length;
    return themes[nextIndex];
  };



  const initThemeToggle = () => {
    const themeToggleButton = document.getElementById('theme-toggle-btn');
    if (themeToggleButton) {
      themeToggleButton.addEventListener('click', () => {
        const currentTheme = localStorage.getItem('theme') || 'dark';
        const nextTheme = getNextTheme(currentTheme);
        applyTheme(nextTheme);
      });
    }
  };

  // Run the script on initial page load
  initThemeToggle();

  // Run the script again after every page transition
  document.addEventListener('astro:page-load', initThemeToggle);
</script>
